/incremental_db/
/c5e_dev_golden_top.asm.rpt.htm_files/
/c5e_dev_golden_top.cmp.rpt.htm_files/
/c5e_dev_golden_top.fit.rpt.htm_files/
/*.rpt
/*.rpt.htm
/c5e_dev_golden_top.flow.rpt.htm_files/
/*.rpt.htm_files/
*.done
*_pin_model_dump.txt
/*.fit.*
*.smsg
/db/
/*.sta.*
*.map.*
*.jdi
*.pin
*.sld
*.sof
